.algoBraces .algoBrace {
  font-size: 30px;
}

.algoBrace {
  padding: 2px;
}

.curbrace {
  animation: pulse 800ms alternate;
  color: blue;
  border-radius: 15px;
}

.highlitbrace-up {
  animation: highlightup 800ms ease-in;
  color: blue;
  border-radius: 15px;
}

.highlitbrace-down {
  animation: highlightdown 800ms ease-out;
  color: blue;
  border-radius: 15px;
}

@keyframes highlightup {
  0% {
    /* background-color: #2f80ed; */
    background-color: azure;
    /* padding: 2px; */
  }
  100% {
    background-color: lightblue;
    /* padding: 5px; */
  }
}

@keyframes highlightdown {
  0% {
    /* background-color: #2f80ed; */
    background-color: blue;
    /* padding: 2px; */
  }
  100% {
    background-color: aliceblue;
    /* padding: 5px; */
  }
}

@keyframes pulse {
  0% {
    /* background-color: #2f80ed; */
    border: 2px solid rebeccapurple;
    background-color: azure;
    /* padding: 2px; */
  }
  100% {
    border: 6px solid purple;
    background-color: crimson;
    color: whitesmoke;
    /* padding: 5px; */
  }
}
