.algoBraces .algoBrace {
  font-size: 30px;
}

.algoBrace {
  padding: 2px;
}

.curbrace {
  animation: pulse 450ms alternate ease;
  color: blue;
}
@keyframes pulse {
  0% {
    /* background-color: #2f80ed; */
    /* padding: 2px; */
    transform: rotate(0.5turn);
  }

  100% {
    transform: rotate(0.5turn);
    color: whitesmoke;
    /* transform: scale(2); */
    /* padding: 5px; */
  }
}

.highlitbrace-up {
  animation: highlightup 800ms ease;
  color: blue;
  border-radius: 15px;
}

.highlitbrace-down {
  animation: highlightdown 800ms ease;
  color: blue;
  border-radius: 15px;
}

@keyframes highlightup {
  0% {
  }
  50% {
    color: white;
  }
  100% {
    color: darkblue;

    /* padding: 5px; */
  }
}

@keyframes highlightdown {
  0% {
    /* background-color: #2f80ed; */
    color: darkblue;
    /* padding: 2px; */
  }
  50% {
    color: white;
  }
  100% {
    color: blue;
    /* padding: 5px; */
  }
}

button:hover {
  transform: scale(1.1, 1.1);
  transition: 600ms ease;
}

/* .takestep:hover {

} */

@keyframes stepper {
  0% {
    background-color: green;
  }
  100% {
    background-color: darkcyan;
  }
}
